<h1 class="w3-center">About</h1>
<hr>
 &nbsp;<br> &nbsp;<br>
<div class="w3-center w3-light-grey w3-border"><strong><br>About the Site:</strong><br><br>
    </div><div class="w3-center w3-white w3-border"><br>This site is dedicated to the development of commercial website design for DePaul University's Web Development I (IT-231) class.
    You can view and place orders for our products given, and an administrator will be able to fill it for you as soon as possible.<br>&nbsp;<br></div>
  <div class="w3-white">
    &nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;
  </div>
<div class="w3-center w3-light-grey w3-border"><br>&nbsp;<strong>About Me: </strong><br><br></div>
  <div class="w3-center w3-white w3-border"><br>I am a Management Informational Systems major, minoring in Electronic Commerce Technology at DePaul University, class of 2019.<br>&nbsp;<br>&nbsp;</div>
