<h1 class="w3-center">About</h1>
<hr>
<div  class="w3-display-middle" style="width:90%">
  <div class="w3-center"><strong>About the Site:</strong><br><br>This site is dedicated to the collection and creation of a quotation database for DePaul University's Web Development I (IT-231) class.<br>&nbsp;</div>
  <br><div class="w3-center w3-light-grey"><br>&nbsp;<strong>About Me: </strong><br><br>I am a Management Informational Systems major, minoring in Electronic Commerce Technology.<br>&nbsp;<br>&nbsp;</div>
</div>