<h1 class="w3-center">Help</h1>
<hr>
<p class="w3-center">If you need help navigating the site or have any questions about its design, please contact the site's manager with the information provided below:</p>
<br> 

<header class="w3-container w3-light-grey w3 -center">
  <h3 class = "w3-center"><strong>Need help with the site?</strong></h3>
</header>

<div class="w3-container w3-center">
  <h4>Contact:</h4>
  <hr>
  <!--img src="helpCardPhoto.jpg" alt="Avatar" class="w3-left w3-circle"-->
  
  <p><strong>Madeline Honda</strong>
    <br>
    <em>MyQuotes, Site Manager</em>
  <br> 
    Cell: 651-955-6461
   <br> 
    Email: hondamade@gmail.com
  </p>
</div>

<a href="mailto:hondamade@gmail.com" class="w3-button w3-block w3-light-blue"> Send Email </a>

</div>