<h1 class="w3-center">Help</h1>
<hr>
<h3 class="w3-center">
  <b>Basic instructions for navigating the site:</b> 
</h3>
<p>
  <b>Products: </b>Begin by visiting the products page by clicking the root button in the navigation bar. Read through our products and prices to decide which books you want, and click the add to cart button when you have found a product you would like to purchase.
  <br><br><b>Cart: </b>From here, you can decide to continue shopping for more books , empty your cart and start your order over, or you may check out by clicking the checkout button on the bottom right. If you would like to purchase more of the same book, continue shopping and add that book to cart again.
  <br><br><b>Checkout: </b>When you are satisfied with your order, and have clicked the button on the cart, you will be brought to our checkout form where you may fill out your name, address for delivery, email, and payment type. When you are done filling out all of the information, click submit. You will be contacted via the email address you have provided by our administrators when your order has been placed!
</p>
<hr>
<p class="w3-center"><em>If you need any additional help navigating the site or have any questions about its design, please contact the site's manager with the information provided below:</em></p>
<br> 

<header class="w3-container w3-light-grey w3 -center">
  <h3 class = "w3-center"><strong>Need help with the site?</strong></h3>
</header>

<div class="w3-container w3-center">
  <h4>Contact:</h4>
  <hr>
  <!--img src="helpCardPhoto.jpg" alt="Avatar" class="w3-left w3-circle"-->
  
  <p><strong>Madeline Honda</strong>
    <br>
    <em>Site Manager</em>
  <br> 
    Cell: 651-955-6461
   <br> 
    Email: hondamade@gmail.com
  </p>
</div>

<a href="mailto:hondamade@gmail.com" class="w3-button w3-block w3-light-blue"> Send Email </a>

</div>