<h1 class="w3-center">Home</h1>
<hr>
<br>
<p class="w3-center">Welcome to the Archive! Here you can archive any username. Add your username to the database now!</p>
<br><br>
<div class ="w3-bar w3-center">
  <a href="/users" class="w3-center w3-button w3-light-blue" style="width:40%">Get Started!</a>
</div>

