<h1 class="w3-center">Home</h1>
<hr>
<br>
<p class="w3-center">Welcome to the Web Development Commercial Design site. Here you may view our products, add them to your cart, and check out to place your order. View our available products in the database now!</p>
<br><br>
<div class ="w3-bar w3-center">
  <a href="/store/index" class="w3-center w3-button w3-light-blue" style="width:40%">Get Started!</a>
</div>

