<div>
  <div class="w3-light-blue w3-display-middle w3-center" style="width:30%">
  <h1>New User</h1>
<hr>
<%= render 'form', user: @user %>
 <br>&nbsp;
    <br>&nbsp;
<%= link_to 'Back', users_path , class:"w3-button w3-light-gray" %>
<br>&nbsp;
</div>
</div>