<div>
  <div class="w3-light-blue w3-display-middle w3-center" style="width:30%">
    <h1 class="w3-center">Editing Cart</h1>
    <hr>
<%= render 'form', cart: @cart %>
    <br>&nbsp;
    <br>&nbsp;
<%= link_to 'Show', @cart , class:"w3-button w3-light-gray" %> |
<%= link_to 'Back', carts_path , class:"w3-button w3-light-gray"  %>
    <br>&nbsp;
</div>
</div>