<div>
  <div class="w3-light-blue w3-display-middle w3-center" style="width:30%">
    <h1 class="w3-center">Editing Product</h1>
    <hr>
<%= render 'form', product: @product %>
    <br>&nbsp;
    <br>&nbsp;
<%= link_to 'Show', @product , class:"w3-button w3-light-gray" %> |
    
<a href="/store/index" class="w3-button w3-light-gray">Back</a>
<!----%= link_to 'Back', products_path , class:"w3-button w3-light-gray"%>--->
    <br>&nbsp;
</div>
</div>