<div>
  <div class="w3-light-blue w3-display-middle w3-center" style="width:30%">
    <h1 class="w3-center">Editing Line Item</h1>
    <hr>
<%= render 'form', line_item: @line_item %>
    <br>&nbsp;
    <br>&nbsp;
<%= link_to 'Show', @line_item , class:"w3-button w3-light-gray" %> |
<%= link_to 'Back', line_items_path , class:"w3-button w3-light-gray"  %>
    <br>&nbsp;
</div>
</div>